@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}
section{
    padding: 50px 0;
}
a, .header-logo{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
/* HEADER */
header, .container{
    padding: 0 20%;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}
.header-logo{
    font-size: 1.6rem;
}
.btn {
    padding: 10px 30px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    text-transform: uppercase;
    transition: 0.2s;
}
.btn:hover {
    background-color: #0f52ba;
    border-color: #0f52ba;
    color: white;
}
.outline {
    background-color: white;
    color: black;
}
.hero {
    padding: 70px 0;
    font-size: 1.4rem;
    line-height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.hero img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.hero span {
    font-size: 3.4rem;
    color: #0f52ba;
}

/* PROJETS */
.cards-group {
    display: flex;
    justify-content: space-between;
}
.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2px;
    border-bottom: 2px solid transparent;
}
.card:hover{    
    border-bottom: 2px solid #0f52ba;
}
.tags {
    margin-top: 5px;
    color: #0f52ba;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
}
.card-body {
    padding: 20px;
}

.card-body p {
    margin: 15px 0 25px;
}

.card-buttons {
    display: flex;
    gap: 10px;
}
.card-buttons a{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    padding: 10px 20px;
}
.card-buttons a:first-of-type{
    align-items: end;
}
.card-body p {
    font-size: 1.05rem;
}
/* CONTACT */
.socials {
    display: flex;
    justify-content: space-between;
}
.socials-link {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom: 2px solid transparent;
}
.socials-link:hover{
    border-bottom: 2px solid #0f52ba;
}
.link-container {
    padding: 20px;
}
.link-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.link-container p {
    color: #0f52ba;
    font-size: 0.9rem;
}